/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #1b8b00;
  background-image: linear-gradient(314deg, #23c000 0%, #88ff00 74%);
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: linear-gradient(transparent, #23c000);*/
  background-color: #1b8b00;
  background-image: linear-gradient(314deg, #198a00 0%, #75d803 74%);
}

form {
  background-color: #fff;
  padding: 30px;
  margin: 50px auto;
  border-radius: 10px;
}

form .form-control {
  background-color: #f2f2f2;
  border: none;
  padding: 10px;
  outline: none;
}

form .form-control:focus {
  background-color: #f2f2f2;
  box-shadow: none !important;
}

form button {
  background-color: #1b8b00;
  background-image: linear-gradient(314deg, #23c000 0%, #88ff00 74%);
  border: none !important;
  color: #fff !important;
  padding: 10px 70px !important;
  margin: auto !important;
  text-transform: uppercase;
  font-weight: bold !important;
  transition: all 0.5s ease !important;
}

form button:focus {
  box-shadow: none !important;
  background-image: linear-gradient(314deg, #23c000 0%, #88ff00 90%);
}